<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28864978879-h03ec2adkqml94v5v7dlvgbda4tjfc0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28864978879-h03ec2adkqml94v5v7dlvgbda4tjfc0k</string>
	<key>API_KEY</key>
	<string>AIzaSyAVHnZuN6YFhFMbIwNUkzGUUhQ79nqNv8U</string>
	<key>GCM_SENDER_ID</key>
	<string>28864978879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.redwire</string>
	<key>PROJECT_ID</key>
	<string>redwire-ad</string>
	<key>STORAGE_BUCKET</key>
	<string>redwire-ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28864978879:ios:0f80c4c47636a887a1cb0a</string>
</dict>
</plist>